@font-face {
    font-family: 'DinoHorn';
    src: url('/fonts/DinoHornPersonalUseOnly-e92gx.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dinoRoar {
    0% {
        transform: scale(1);
        text-shadow:
            2px 2px 0 #000,
            4px 4px 0 #2e8b57,
            6px 6px 15px rgba(0, 0, 0, 0.8);
    }
    50% {
        transform: scale(1.04);
        text-shadow:
            2px 2px 10px #39ff14,
            4px 4px 25px #39ff14,
            6px 6px 35px rgba(0, 255, 0, 0.7);
    }
    100% {
        transform: scale(1);
    }
}

.animate-dinoRoar {
    animation: dinoRoar 3s ease-in-out infinite;
}
